%h1
  = submit
  Category
.content
  - form_for @category do |form|
    %table.card
      %tr
        %th
          = form.label :name
        %td
          = form.text_field :name
      %tr
        %th
          = form.label :description_header
        %td
          = form.text_field :description_header
      %tr
        %th
          = form.label :description
        %td
          = form.text_area :description
    %br
  
    = submit_tag submit
